<div class="full light-grey no-padding">
  <div class="one spacing"></div>
<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/5e1b05658cf75ae9a3bef11904f24bbb.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  <div class="one spacing"></div>
</div>
<div class="full no-padding footer brown centered-text">
  <div class="four spacing"></div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="socials">
        <li><a href="https://twitter.com/samisfierce"><i class='fa fa-twitter'></i></a></li>
        <li><a href="https://www.facebook.com/samantharuiz8"><i class='fa fa-facebook'></i></a></li>
        <li><a href="https://www.linkedin.com/in/samanthamruiz/"><i class='fa fa-linkedin'></i></a></li>
        <li><a href="https://www.instagram.com/samisfierce/"><i class='fa fa-instagram'></i></a></li>
      </ul>
      <p>Copyright ©2017 {{site.title}}.</p>
      <p>All rights reserved.</p>
      <div class="four spacing"></div>
      <p class="back-to-top"><a href="#"><i class="fa fa-chevron-up"></i>Back to top</a></p>
    </div>
  </div>
  <div class="spacing"></div>
</div>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"5edf1bb495894d5e6eda4835a","lid":"18120d9fb5"}) })</script>

<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.superslides.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/slick.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.validate.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/countto/jquery.countTo.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/appear/jquery.appear.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
